<!DOCTYPE html>
<html>
    <head>
        <title>Chords!</title>
        <!-- recommended to avoid security warnings with SVG in IE8 -->
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <!-- styles -->
        <link type="text/css" rel="stylesheet" href="/assets/css/style.css?51030"/>
        <!-- mandatory script includes for jtab -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="/assets/js/lowpro.js" type="text/javascript"></script>
        <script src="/assets/js/raphael.js" type="text/javascript"></script>
        <script src="/assets/js/jtab.js" type="text/javascript"></script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-31446936-1']);
          _gaq.push(
            ['_trackPageview'],
            ['_setCustomVar', 1, 'Key', '{{ chords[0] }}'],
            ['_setCustomVar', 2, 'Number', '{{ chords|length }}']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <h1 class="hidden">Chords</h1>

        <div id="chords">
            {% for chord in chords %}
            <div class="chord {{ cycle(['odd', 'even'], loop.index) }}">
                <div class="name">{{chord}}</div>
                <div class="tab jtab">
                  {{chord}}
                </div>
            </div>
            {% endfor %}
        <footer>
            <p>
                <span class="wisdom">{{ wisdom }}</span>
            </p>
            <p>
                <span class="permalink"> Permalink: <a onclick="_gaq.push(['_trackEvent', 'permalink', '{{ chords[0] }} - {{ chords|length }}']);" href="http://{{ permalink }}">{{ permalink }}</a></span>
            </p>
            <div id="#github">
                <iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=robomc&amp;repo=chordz&amp;type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53px" height="20px"></iframe>
            </div>
        </footer>
    </body>
</html>
